libros.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="libros">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="libro" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="titulo" type="xs:string" />
							<xs:element name="autor" type="xs:string" />
							<xs:element name="ejemplares" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="isbn" type="xs:decimal" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>